body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #0c2033;
  color: #fff;
  font-size: 15px;
}

* {
  box-sizing: border-box;
}
